{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_tasks and request.user in task.project.author.all %}
        <li><a href="{% url 'task_update' task.pk %}">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_tasks and request.user in task.project.author.all %}
        <li><a href="{% url 'task_delete' task.pk %}">Delete</a></li>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="task_view">
        <h1>{{ task.summary }}</h1>
        <p>Статус: {{ task.status }}</p>
{#        <p>Тип: {{ task.types }}</p>#}
        <p>Типы: {% for type in task.types.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}.
        </p>
        <p>Дата выполнения: {{task.task_create}}</p>
        <p>Дата обновления: {{ task.task_update }}</p>
        <label>Описание:</label>
        <p class="pre">{{ task.description }}</p>
    </div>
{% endblock %}