{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
<h1>Create Task</h1>

        {% url 'task_create' as action_url %}
        {% include 'partial/form.html' with action_url=action_url form_method='post' %}
{#         {% include 'partial/form_field.html' with field=form.title %}#}
{#         {% include 'partial/form_field.html' with field=form.description %}#}
{#         {% include 'partial/form_field.html' with field=form.date %}#}
{#         {% include 'partial/form_field.html' with field=form.status %}#}
{% endblock %}