{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_project or request.user.pk == 1 %}
        <li><a href="{% url 'project_update' project.pk %}">Update Project</a></li>
    {% endif %}
    {% if perms.webapp.change_project or request.user.pk == 1 %}
        <li><a href="{% url 'project_delete' project.pk %}">Delete Project</a></li>
    {% endif %}
    {% if perms.webapp.change_project and request.user in project.author.all %}
        <li><a href="{% url 'project_user_edit' project.pk %}">Edit User</a></li>
    {% endif %}
    {% if perms.webapp.add_tasks and request.user in project.author.all %}
        <li><a href="{% url 'task_create' project.pk %}">Add Task</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="box">
        <h1>{{ project.name }}</h1>
        <p class="pre">{{ project.description }}</p>
        <p>Пользователи:</p>
        {% for author in project.author.all %}
            <a href="{% url 'accounts:detail' author.pk %}">{{ author }}</a><br/>
        {% endfor %}
        <p>Date start: {{ project.date_start }}</p>
        <p>Date end:
        {% if project.date_end %}
            {{ project.date_end}}
        {% else %}
            No end date
        {% endif %}</p>
        <hr>
        <h3>Tasks:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for task in tasks %}
            <div class="box">
                <a href="{% url 'task_delete' task.pk %}" ><i class="far fa-trash-alt"></i></a>
                <a href="{% url 'task_update' task.pk %}" ><i class="far fa-edit"></i></a><br/>
                <h3><a href="/tasks/{{ task.pk }}" class="card-button">{{ task.summary }}</a></h3>
                <p>Статус: {{ task.status }}</p>
                <p>Дата выполнения: {{ task.task_create }}</p>
            </div>
        {% empty %}
            <p>Нет задач</p>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </div>
{% endblock %}
